#body {

    color: black;
}

.btn {
    background: rgb(255, 124, 2);
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 15px;
    outline: none;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 6px rgb(255, 124, 2);
    cursor: pointer;
    font-family: cursive;
}

.btn:hover {
    box-shadow: 0 4px rgb(255, 124, 2);
}

.btn:focus {
    box-shadow: 0 2px rgb(255, 124, 2);
}
.btn:active{
    box-shadow: none;
}